body{
cursor: crosshair;
margin:0;
background:url("img/bg2.jpg");
background-position: 1.3ex;
color:rgb(255, 255, 255); 
font-family: 'Orbitron', sans-serif;
}

.center{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

button{
padding:10px 20px;
margin:10px;
background:black;
color:rgb(255, 255, 255);
border:1px solid rgb(255, 255, 255);
cursor: -webkit-grabbing;
}

button:hover{
background:rgb(255, 255, 255);
color:black;
}

#loading{
position:fixed;
width:100%;
height:100vh;
background:black;
color:white;
display:none;
justify-content:center;
align-items:center;
font-size:40px;
z-index:999;
}

.logo3d{
position:fixed;
top:10px;
left:10px;
width:120px;
cursor: -webkit-grabbing;
}

.album-page,
.merch-page{
background:rgb(0, 0, 0);
background-size:cover;
background-position:center;
}

.albumImg{
width:300px;
filter:blur(10px);
transition:0.3s;
}

.albumImg:hover{
filter:blur(6px);
}

.merchCenter{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
gap:100px;
}

.merchCenter img{
width:600px;
cursor:-webkit-grabbing;
transition:0.3s;
}

.merchCenter img:hover{
transform:scale(1.1);
}

.album-page,
.merch-page{
background:url("img/bg2.jpg");
background-size:cover;
background-position:center;
}

/* MOBILE */

@media (max-width: 700px){

.center{

padding:20px;
text-align:center;

}

h1{
font-size:30px;
}

button{

width:150px;
font-size:16px;

}

.logo3d{

width:50px;
top:5px;
left:5px;

}

.albumImg{

width:200px;

}

.merchCenter{

flex-direction:column;
gap:40px;

}

.merchCenter img{

width:180px;

}

}

img{

max-width:100%;

}

.center img{

max-width:80%;

}

#loading{
font-size:40px;
}

button{

padding:15px 25px;

}